<div class="flex_collumn">
  <h1>Choose Your Plan</h1>
  <p>
    Let's choose the package that is best for you and explore it happily and
    cheerfully.
  </p>
  <div class="plan_purchase">
    <div class="plan_1">
      <div class="space_between">
        <img src="assets/plan.png" alt="" />
        <h1>Free Plan</h1>
        <div class="benefits">
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Unlimited Bandwitch</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Encrypted Connection</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>No Traffic Logs</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Works on All Devices</p>
          </div>
        </div>
      </div>
      <div class="bottom_part">
        <h1>Free</h1>
        <button>Select</button>
      </div>
    </div>
    <div class="plan_2">
      <div class="space_between">
        <img src="assets/plan.png" alt="" />
        <h1>Standart Plan</h1>
        <div class="benefits">
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Unlimited Bandwitch</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Encrypted Connection</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Yes Traffic Logs</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Works on All Devices</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Connect Anywares</p>
          </div>
        </div>
      </div>
      <div class="bottom_part">
        <h1>$9 <span>/ mo</span></h1>
        <button>Select</button>
      </div>
    </div>
    <div class="plan_3">
      <div class="space_between">
        <img src="assets/plan.png" alt="" />
        <h1>Premium Plan</h1>
        <div class="benefits">
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Unlimited Bandwitch</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Encrypted Connection</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Yes Traffic Logs</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Works on All Devices</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Connect Anywares</p>
          </div>
          <div class="with_img">
            <img src="assets/tick.png" alt="" />
            <p>Get New Features</p>
          </div>
        </div>
      </div>
      <div class="bottom_part">
        <h1>$12 <span>/ mo</span></h1>
        <button>Select</button>
      </div>
    </div>
  </div>
</div>
