a {
  text-decoration: none;
}

body {
  display: flex;
  gap: 30px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

#sign_in {
  color: #0b132a;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: max-content;
}

#sign_up {
  border: 1px solid #f53855;
  color: #f53855;
  border-radius: 50px;
  padding: 13px 45px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
