<h1>We Provide Many Features You Can Use</h1>
<p>
  You can explore the features that we provide with fun and have their own
  functions each feature.
</p>
<div class="short_infos">
  <div class="info_1">
    <img src="assets/green_tick.png" alt="" />
    <p>Powerfull online protection.</p>
  </div>
  <div class="info_2">
    <img src="assets/green_tick.png" alt="" />
    <p>Internet without borders.</p>
  </div>
  <div class="info_3">
    <img src="assets/green_tick.png" alt="" />
    <p>Supercharged VPN</p>
  </div>
  <div class="info_4">
    <img src="assets/green_tick.png" alt="" />
    <p>No specific time limits.</p>
  </div>
</div>
