.for_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  width: 500px;
}

.info {
  margin-left: 20px;
}

img {
  height: fit-content;
}
